{% extends "plantilla.html"%}

{% block titulo %}Articulos{% endblock %}

{% block menu %}
<li><a href="/home">Presentacion</a></li>
<li class="selected"><a href="/articulos">Articulos</a></li>
<li><a href="/redactores">Redactores</a></li>
<li><a href="/contacto">Contactanos</a></li>
{% endblock %}

{% block contenido %}
<h1>Articulos</h1>
<p align="justify">
    A continuacion se muestra un listado de noticias. Haga clic sobre el titulo para acceder a la noticia completa
</p>

{% if listaArticulos %}
    {% for a in listaArticulos %}
        <h2><a href="/articulo/{{ a.id }}">{{ a.titular}}</a></h2>
        <p>{{ a.entradilla }}</p>
    {% endfor %}
{% else %}
<p>
    No hay articulos en esta revista
</p>
{% endif%}
{% endblock %}