{% extends "plantilla.html"%}

{% block titulo %}Bienvenida{% endblock %}

{% block contenido %}
<!--TODO editar y añadir cosas si quiero-->
<h1>Bienvenido a EL MUNDO 2.0</h1>
<p align="justify">
    Esta página web está siendo desarrollado con el software <a href="https://www.jetbrains.com/pycharm/">Pycharm</a>,
    el cual nos permite combinar todos los recursos de HTML, CSS, JavaScript y jQuery, para así poder desarrollar una
    aplicación DJango
</p>
<p align="justify">
    El objetivo de esta página web es que sirva de como una base para la posterior realización de un proyecto de mayor escala.
</p>
<p align="justify">
    Mi nombre es Roberto Martínez - Guisasola, nací en Burgos y viví allí hasta que terminé 2º de Bachiller. Actualmente
    vivo en Bilbao. En mi tiempo libre me dedico al triatlón, deporte que llevo practicando desde que tengo 12 años
</p>

{% endblock %}