{% extends "plantilla.html"%}

{% block titulo %}Bienvenida{% endblock %}

{% block menu %}
<li class="selected"><a href="/home">Presentacion</a></li>
<li><a href="/articulos">Articulos</a></li>
<li><a href="/redactores">Redactores</a></li>
<li><a href="/contacto">Contactanos</a></li>
{% endblock %}


{% block contenido %}
<h1>Bienvenido a EL MUNDO 2.0</h1>
<p align="justify">
    Esta pagina web esta siendo desarrollado con el software <a href="https://www.jetbrains.com/pycharm/">Pycharm</a>,
    el cual nos permite combinar todos los recursos de HTML, CSS, JavaScript y jQuery, para asi poder desarrollar una
    aplicacion DJango
</p>
<p align="justify">
    El objetivo de esta pagina web es que sirva de como una base para la posterior realizacion de un proyecto de mayor escala.
</p>
<p align="justify">
    Mi nombre es Roberto Martinez - Guisasola, naci en Burgos y vivi alli hasta que termine 2º de Bachiller. Actualmente
    vivo en Bilbao. En mi tiempo libre me dedico al triatlon, deporte que llevo practicando desde que tengo 12 años
</p>
{% endblock %}