<!DOCTYPE HTML>
<html>

<head>
    <title>{% block titulo %}Plantilla Ejemplo{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="description" content="website description"/>
    <meta name="keywords" content="website keywords, website keywords"/>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252"/>
    <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    <link rel="shortcut icon" href="/static/style/logoTitulo.jpg">

    {% block css %}
        {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/style/style.css' %}"/>
    {% endblock %}
    {% block javascript %}
    {% endblock %}
</head>

<body>
<div id="main">
    <div id="header">
        <div id="logo">
            <div id="logo_text">
                <h1>El Mundo<span class="logo_colour">2.0</span></h1>
                <h2><a href="https://www.elmundo.es/">Acceso web oficial de EL MUNDO</a></h2>
            </div>
        </div>
        <div id="menubar">
            <ul id="menu">
                {% block menu %}
                    <li><a href="/home">Presentacion</a></li>
                    <li><a href="/articulos">Articulos</a></li>
                    <li><a href="/redactores">Redactores</a></li>
                    <li><a href="/contacto">Contactanos</a></li>
                {% endblock %}
            </ul>
        </div>
    </div>
    <div id="site_content">
        <div class="sidebar">
            <h1>Sobre la página</h1>
            <h4>Nueva página web creada</h4>
            <h5>8 de diciembre de 2019</h5>
            <p>La página web fue creada y lanzada al público</p>
            <h1>Otros periodicos</h1>
            <ul>
                <li><a href="https://elpais.com/">El Pais</a></li>
                <li><a href="https://www.nytimes.com/es/">New York Times</a></li>
                <li><a href="https://www.theguardian.com/uk">The Guardian</a></li>
            </ul>
            <h1>Buscar</h1>
            <form method="post" action="#" id="search_form">
                <p>
                    <input class="search" type="text" name="search_field" value="Introduzca las palabras" />
                    <input name="search" type="image" style="border: 0; margin: 0 0 -9px 5px;" src="static/style/search.png" alt="Search" title="Buscar" />
                </p>
            </form>
        </div>
        <div id="content">
            {% block contenido %}
            {% endblock %}
        </div>
    </div>
    <div id="footer">
        <p><a href="index.html">Home</a> | <a href="examples.html">Examples</a> | <a href="page.html">A Page</a> | <a href="another_page.html">Another Page</a> | <a href="contact.html">Contact Us</a></p>
        <p>Copyright &copy; night_sky | <a href="http://validator.w3.org/check?uri=referer">HTML5</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | <a href="http://www.html5webtemplates.co.uk">design from HTML5webtemplates.co.uk</a></p>
    </div>
</div>
</body>
</html>
