{% extends "plantilla.html"%}

{% block titulo %}Redactor {{redactor.nombre}}{% endblock %}

{% block contenido %}
<!--TODO poner datos a cerca del redactor -->
{% if redactor %}
    {% if listaArticulos %}
        {% for a in listaArticulos %}
            {% if a.redactor == redactor %}
                <h2><a href="/articulo/{{ a.id }}">{{ a.titular}}</a></h2>
                <p>{{ a.entradilla }}</p>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>No hay artículos</p>
    {% endif %}
{% else %}
    <p>No hay redactor</p>
{% endif %}
{% endblock %}